-if params[:page]
  .row-fluid
    .span12
      .header-text
        View all the resolutions!
        %br
        %span.sub Browse all of the 2013 resolutions companies are making!
      -if @submissions.count > 0
        -@submissions.in_groups_of(4, false) do |subs|
          %ul.submissions.thumbnails
            -subs.each do |submission|
              %li.span3
                %a.play{:href => submission_path(submission)}
                  .img-wrap
                    %span.play
                      .votes
                        = number_with_delimiter submission.votes.count
                        .small= submission.votes.count == 1 ? "VOTE" : "VOTES"
                    =image_tag(submission.sproutvideo_poster_frame_url)
                %p.title= submission.title
                %hr
                %p.desc= truncate(submission.description, :length => 165)
        = paginate @submissions
      -else
        %br
        %h4 Check back soon for the latest #SproutResolutions
        %br

-else
  .row
    .span12
      .carousel
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              -unless @mobile
                %video(width="732" height="412" autoplay="true" loop="true" style="")
                  %source(src="/assets/background.mp4?cachebust=true" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                  %source(src="/assets/background.webm?cachebust=true" type='video/webm; codecs="vp8, vorbis"')
              %img.background(src="/assets/background.jpg")
              
              .container
                .carousel-caption
                  %h1 Ring in the New Year!
                  .lead 
                    SproutVideo wants to bring your video sharing to the 
                    %br
                    next level in the new year! Have a goal? Make a video of your 2013 business resolutions and submit it to 
                    %b win a free year
                    of 
                    =link_to('SproutVideo services', 'http://sproutvideo.com', :style => 'color:#FFF;text-decoration:underline', :target => '_blank')
                    !
                  =link_to('Submit Yours Now!', new_submission_path, :class => 'submit-btn')
                  =link_to('What is this?', about_path, :class => 'what-btn')
  .row-fluid
    .span12
      .divider{:style => 'clear:both'}
      .header-text
        Latest Submissions
        %span.sub Tons of businesses are declaring their resolutions!
      -if @submissions.length > 0
        %ul.submissions.thumbnails
          -@submissions.each do |submission|
            %li.span3
              %a.play{:href => submission_path(submission)}                
                .img-wrap
                  %span.play
                    .votes
                      = number_with_delimiter submission.votes.count
                      .small= submission.votes.count == 1 ? "VOTE" : "VOTES"
                  =image_tag(submission.sproutvideo_poster_frame_url)
              %p.title= submission.title
              %hr
              %p.desc= truncate(submission.description, :length => 165)
        .pull-right
          =link_to('View all', submissions_path(:page => 1), :class => 'view-all')
      -else
        %br
        %h4 Check back soon for the latest #SproutResolutions.
        %br
  .row-fluid
    .span12
      .header-text.leaderboard
        Leaderboard
        %span.sub
          These businesses are in the running for
          %b a free year
          of SproutVideo!
  .row-fluid
    -if @leaders.length > 0
      .span6
        %ul.leaderboard
          -i = 0
          -@leaders[0..2].each do |leader|
            -i+=1
            %li.leader
              .position{:class => "position-#{i}"}
                .txt=i
              .details
                .company{:"data-company_name" => leader.company_name}= leader.company_name
                .title{:"data-title" => leader.title}= leader.title
              .votes
                .count
                  = number_with_delimiter leader.votes.count
                  .small= leader.votes.count == 1 ? "VOTE" : "VOTES"
                =link_to(image_tag('leader.png'),submission_path(leader))
      .span6
        -if @leaders.length > 3
          %ul.leaderboard
            -i = 3
            -@leaders[3..5].each do |leader|
              -i+=1
              %li.leader
                .position{:class => "position-#{i}"}
                  .txt=i
                .details
                  .company{:"data-company_name" => leader.company_name}= leader.company_name
                  .title{:"data-title" => leader.title}= leader.title
                .votes
                  .count
                    = number_with_delimiter leader.votes.count
                    .small= leader.votes.count == 1 ? "VOTE" : "VOTES"
                  =link_to(image_tag('leader.png'),submission_path(leader))
    -else
      %br
      %h4 Check back soon!


  :javascript
    if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)
      $('img.background').attr('src', '/assets/background-safari.jpg')
    function resize() {
      $('.leader').each(function(){
        var name = $(this).find('.details .company').data('company_name');
        width = $(this).width();
        $(this).find('.company').html(Application.fitStringToWidth(name, width-280, 'company'))
        var title = $(this).find('.details .title').data('title');
        $(this).find('.title').html(Application.fitStringToWidth(title, width-280, 'company'))
      })
    }
    
    $(document).ready(function(){
      $(window).resize(function(){
        resize();
      });
      resize();
    });