.row-fluid
	.span12
		.header-text
			Leaderboard
			%br
			%span.sub These are the companies in the running to win!
.row-fluid
	.span6
		%ul.leaderboard
			-i = 0
			-@leaders[0..9].each do |leader|
				-i+=1
				%li.leader
					.position{:class => "position-#{i}"}
						.txt=i
					.details
						.company{:"data-company_name" => leader.company_name}= leader.company_name
						.title{:"data-title" => leader.title}= leader.title
					.votes
						.count
							= number_with_delimiter leader.votes.count
							.small= leader.votes.count == 1 ? "VOTE" : "VOTES"
						=link_to(image_tag('leader.png'),submission_path(leader))
	.span6
		-if @leaders.count > 9
			%ul.leaderboard
				-i = 10
				-@leaders[10..19].each do |leader|
					-i+=1
					%li.leader
						.position{:class => "position-#{i}"}
							.txt=i
						.details
							.company{:"data-company_name" => leader.company_name}= leader.company_name
							.title{:"data-title" => leader.title}= leader.title
						.votes
							.count
								= number_with_delimiter leader.votes.count
								.small= leader.votes.count == 1 ? "VOTE" : "VOTES"
							=link_to(image_tag('leader.png'),submission_path(leader))

:javascript
	if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)
	  $('img.background').attr('src', '/assets/background-safari.jpg')
	function resize() {
	  $('.leader').each(function(){
	    var name = $(this).find('.details .company').data('company_name');
	    width = $(this).width();
	    $(this).find('.company').html(Application.fitStringToWidth(name, width-280, 'company'))
	    var title = $(this).find('.details .title').data('title');
	    $(this).find('.title').html(Application.fitStringToWidth(title, width-280, 'company'))
	  })
	}

	$(document).ready(function(){
	  $(window).resize(function(){
	    resize();
	  });
	  resize();
	});