.row
	.span12
		.header-text
			Leaderboard
			%br
			%span.sub These are the companies in the running to win!
		%ul.leaderboard{:style => 'width: 49%; float: left; margin-right: 10px'}
			-i = 0
			-@leaders[0..9].each do |leader|
				-i+=1
				%li.leader
					.position{:class => "position-#{i}"}
						.txt=i
					.details
						.company= leader.email
						.title= leader.title
					.votes
						.count
							= number_with_delimiter leader.votes.count
							.small= leader.votes.count == 1 ? "VOTE" : "VOTES"
						=link_to(image_tag('leader.png'),submission_path(leader))
		-if @leaders.count > 10
			%ul.leaderboard{:style => 'width: 49%; float: left;'}
				-i = 10
				-@leaders[10..19].each do |leader|
					-i+=1
					%li.leader
						.position{:class => "position-#{i}"}
							.txt=i
						.details
							.company= leader.email
							.title= leader.title
						.votes
							.count
								= number_with_delimiter leader.votes.count
								.small= leader.votes.count == 1 ? "VOTE" : "VOTES"
							=link_to(image_tag('leader.png'),submission_path(leader))