.row
    .span12
        .header-text Submit your New Years Video Resolution!
        %br

.row
    .span8
        = form_for(@submission, :html => {:multipart => true, :onsubmit => 'return false;'}) do |f|
            %fieldset
                .form-stuff
                    -if @submission.errors.any?
                        #error_explanation
                            %h2 #{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:
                            %ul
                                - @submission.errors.full_messages.each do |msg|
                                    %li= msg
                    .control-group
                        %label.control-label Email Address:
                        .controls
                            = f.text_field :email, :class => 'span8'
                            .help-block So we know who to contact if you win! Don't worry, we won't publish it anywhere.
                    .control-group
                        %label.control-label Company Name:
                        .controls
                            = f.text_field :company_name, :class => 'span8'
                            .help-block The name of your company.
                    .control-group
                        %label.control-label Title:
                        .controls
                            = f.text_field :title, :class => 'span8'
                            .help-block Give your submission a short title.
                    .control-group
                        %label.control-label Description:
                        .controls
                            = f.text_area :description, :rows => 4, :class => 'span8'
                            .help-block Tell us a little bit more about your submission.
                    .file-info{:style => 'display:none'}
                        .data
                        %a.clear-video.btn.btn-danger
                            Select a different video.
                    .drop-target
                        .upload-button-box
                            %a.vote-btn
                                Select A  Video From Your Computer
                            .input-box
                                = f.file_field :video
                        .muted - or -
                        .drop-text
                            Drag and drop a video
                            %br
                            anywhere on this page to upload it.
                .overall-progress{:style => 'display:none'}
                    .info
                        .speed
                            %h3 0
                            %span Upload Speed
                        .time-left
                            %h3 00:00:00
                            %span Time Remaining
                        .percent-complete
                            %h3 0.00%
                            %span Percent Complete
                    .progress.progress-striped.active.progress-success
                        .bar{:style=>"width: 0%;"}
                        
                .form-actions{:style => 'text-align: center'}
                    =f.submit :class => 'submit-btn', :value => 'Upload Submission!'
    .span4
        .video-details
            .header-text General Guidelines
            %br
            %p Only one entry per Company
            %p Videos should be between 1 and 5 minutes in duration
            %p You permit SproutVideo to publish your videos on the #SproutResolutions event site.
            %p You are solely responsible for any footage, photos or music in your produced video and responsible for legal repercussions, and SproutVideo is in no way responsible for any legal ramifications.
            %p You understand that SproutVideo does not guarantee any confidentiality with respect to any video content you submit. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish the video content you submit.
            %p=link_to('Read the full rules here.', rules_path)