-content_for :title do
	=@submission.title
.row
	.span12
		.header-text{:style=>'font-size:38px;line-height:30px'}
			= @submission.title
			%br
			%span.sub
				by
				= @submission.company_name
		%br
.row
	.span8
		-if @submission.video_state != "deployed"
			.alert.alert-success.alert-block
				.lead Thank you for submitting your entry! Your video is being processed. This should only take a few moments.
				%p
					%b.state Transferring your video to SproutVideo...
				.row
					.span6
						.progress.progress-striped.active.progress-warning
							.bar{:style=>"width: 100%;"}
					.span1 
						%b.percent
						
			:javascript
				Application.pollForProgress("#{@submission.uid}")
		- else
			- content_for :facebook_js do
				#fb-root
				:javascript
					(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=153473816914";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
			- content_for :open_graph do
				%meta{:property => "og:title", :content => @submission.title}
				%meta{:property => "og:type", :content => "article"}
				%meta{:property => "og:url", :content => submission_url(@submission)}
				%meta{:property => "og:image", :content => @submission.sproutvideo_poster_frame_url}
				%meta{:property => "og:video:height", :content => "#{@submission.sproutvideo_height}"}
				%meta{:property => "og:video:width", :content => "#{@submission.sproutvideo_width}"}
				%meta{:property => "og:video:type", :content => "application/x-shockwave-flash"}
				%meta{:property => "og:video", :content => "https://d3nt7egy5kvcte.cloudfront.net/MediaPlayer.swf?id=#{@submission.sproutvideo_id}&st=#{@submission.sproutvideo_security_token}&autoplay=true&facebook=true"}
				%meta{:property => "og:description", :content => "#{@submission.description}"}
				%meta{:property => "og:site_name", :content=>"SproutVideo"}
				%meta{:property => "fb:admins", :content => "3401385"}
				%meta{:name => 'twitter:card', :content => 'player'}
				%meta{:name => 'twitter:player', :content => "https://videos.sproutvideo.com/embed/#{@submission.sproutvideo_id}/#{@submission.sproutvideo_security_token}?type=sd"}
				%meta{:name => 'twitter:player:width', :content => @submission.sproutvideo_width}
				%meta{:name => 'twitter:player:height', :content => @submission.sproutvideo_height}
			
			.video-wrapper{:style=>"padding-top: #{(@submission.sproutvideo_height.to_f/@submission.sproutvideo_width)*100.0}%"}
				%iframe{:src => "http://videos.sproutvideo.com/embed/#{@submission.sproutvideo_id}/#{@submission.sproutvideo_security_token}", :frameborder => 0, :width => '100%', :height => '100%'}

			.header-bar
				%span Sharing
			.share
				.tweet
					%a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :"data-text"=>"I just voted for #{@submission.title} to win a free year of SproutVideo. You should too! #SproutResolutions", :"data-url" =>"#{@submission.short_url}"}Tweet
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				.like
					.fb-like{:"data-href"=>"#{submission_url(@submission)}", :"data-send"=>"true", :"data-layout"=>"button_count", :"data-width"=>"450", :"data-show-faces"=>"false"}
			.header-bar
				%span Comments
			.comments
				#disqus_thread
				:javascript
					var disqus_shortname = 'sproutvideoresolutions';
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				%noscript
					Please enable JavaScript to view the 
					%a(href="http://disqus.com/?ref_noscript")comments powered by Disqus.
				%a(href="http://disqus.com" class="dsq-brlink")
					comments powered by
					%span.logo-disqus Disqus

	.span4
		.video-details
			.score
				.place
					= @submission.place
					.small
						PLACE
				.divider
				.votes
					= @submission.votes.count
					.small
						= @submission.votes.count == 1 ? "VOTE" : "VOTES"
			-unless !!@voted_today
				.vote_form
					=form_for @vote, :remote => true do |f|
						=f.hidden_field :submission_id, :value => @submission.id
						=f.submit 'Vote for this video!', :class => 'vote-btn'
				.vote_success{:style => 'display:none;'}
					%button.vote-btn{:disabled => true}
						Thanks for voting!
			- else
				%br
				%p Thanks for voting today. Check back tomorrow to vote again!
			%hr
			%p= @submission.description
-if @new_entry
	.modal.hide.fade#thanks_modal
		.modal-header
			%button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
			%h3 Thanks!
		.modal-body
			%p Thank you for submitting your video entry to the #SproutResolutions contest!
			%p Please share your entry to get more votes and make sure to use the #SproutResolutions hash tag!
			.share
				.tweet
					%a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :"data-text"=>"Please vote for our video entry to the #SproutResolutions contest!", :"data-url" =>"#{@submission.short_url}"}Tweet
					:javascript
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				.like
					.fb-like{:"data-href"=>"#{submission_url(@submission)}", :"data-send"=>"true", :"data-layout"=>"button_count", :"data-width"=>"450", :"data-show-faces"=>"false"}
		.modal-footer
			%a.btn(href="#" data-dismiss="modal" aria-hidden="true") Close	
	:javascript
		$('#thanks_modal').modal().show()