!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset=>"utf-8"}
		%link{:rel=> "shortcut icon", :href=>'http://sproutvideo.com/images/favicon.ico'}
		%title 
			- unless content_for(:title).blank?
				= yield(:title)
				\|
			SproutVideo Resolutions
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield :open_graph
%body
	= yield :facebook_js
	#wrap
		.container
			.row.header
				.span12
					=link_to(image_tag("logo.png"), root_path)
					.pull-right.header-nav
						=link_to('View all', submissions_url(:page => 1), :class => 'header-button')
						=link_to('Leaderboard', leader_board_url, :class => 'header-button')
						=link_to('Submit!', new_submission_path, :class => 'header-button submit')
		.container
			=yield
			.row-fluid.footer
				.span12{:style=>"font-size: 16px; font-weight: bold"}
					&copy; 2013 SproutVideo
					.pull-right
						=link_to('About', about_path)
						|
						=link_to('Rules', rules_path)
						|
						=link_to('Submissions', submissions_path(:page => 1))
						|
						=link_to('Leader Board', leader_board_path)
						|
						=link_to('Submit', new_submission_path)
						|
						=link_to('Powered by SproutVideo', 'http://sproutvideo.com')