!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset=>"utf-8"}
		%link{:rel=> "shortcut icon", :href=>'http://sproutvideo.com/images/favicon.ico'}
		%title 
			- unless content_for(:title).blank?
				= yield(:title)
				\|
			SproutVideo Resolutions
		= stylesheet_link_tag "application", :media => "all"
		= stylesheet_link_tag "stylesheet.css", :media => 'all'
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield :open_graph
%body
	= yield :facebook_js
	#wrap
		.container
			.row.header
				.span12
					=link_to(image_tag("logo.png"), root_path)
					.pull-right.header-nav
						=link_to('View all', submissions_url(:page => 1), :class => 'header-button')
						=link_to('Leaderboard', leader_board_url, :class => 'header-button')
						=link_to('Submit!', new_submission_path, :class => 'header-button submit')
		.container
			=yield